@import "neat";

// Grid breakpoints
$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(max-width 900px);
$desktop: new-breakpoint(min-width 900px);

.QuestionsList {

    h1 {
        font-size: 1.2rem;
        margin: 15px 0;
        font-weight: bold;
    }

    max-width: 1200px;
    margin: 0 auto;

    .QuestionsList-inner {

        @include outer-container(100%);

        .QuestionInfo {

            @include media($desktop) {
                @include span-columns(3);
                @include omega(4n);
            }
            @include media($tablet) {
                @include span-columns(4);
                @include omega(3n);
            }
            @include media($mobile) {
                @include span-columns(12);
            }

            padding: 15px;
            border: 1px solid #AAA;
            margin-top: 15px;
            border-radius: 5px;

            .question-title a {
                text-decoration: none;
            }
            .question-date {
                color: #999;
                font-size: .8rem;
                margin: 5px 0;
            }

            .question-info {
                font-size: .8rem;
                margin: 5px 0;
            }
        }

    }

}